/* createAccount.css */
body {
  background-image: url('../assets/background.jpg');
  background-size: cover;
  font-family: 'Arial', sans-serif;
}

.kawaii-button {
  background-color: #FFB6C1;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-family: "Bubblegum Sans", cursive;
  border-radius: 12px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.kawaii-button:hover {
  background-color: #FF91AF;
}

.developer-avatar {
  width: 800px;   /* Adjust width as needed */
  height: 600px;  /* Adjust height as needed */
}